{% extends 'base.html' %}

{% block title %}
    查看相册
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        .bg {
            background-color: #b3d4fc;
            background-image: url("{{ url_for('static', filename='35.jpg') }}");
            background-size: 1800px 300px;
        {# 背景图片大小 宽 高 #}
        }

        #t {
            width: 130px;
            height: 50px;
            font-size: 18px;
            color: white;
            background-color: #8be9fd;
        }
    </style>
{% endblock %}

{% block newcontent %}
    <body class="bg">
    <h1 align="center" style="color: hotpink">我的相册</h1>
    <button id="t"><a href="{{ url_for('user.upload') }}">返回上传页面</a></button>
    <br>
    <br>
    {% for img in imgs %}
        <img src="{{ url_for('static', filename='./photo/' + img) }}" width="400px" height="400px" alt="图片错误">
    {% endfor %}
    </body>
{% endblock %}

{% block footer %}

{% endblock %}
