{% extends 'base.html' %}
{% block title %}
    博客首页
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        #contanier {
            width: 800px;
            margin: 0 auto; /* 自动居中对齐*/
        }

        .article {
            width: 900px;
            background-color: rgba(255, 255, 255, 0.5);
        {# 背景透明化 #} height: 165px;
            margin-bottom: 20px;
            border-bottom: 1px gray; /* 底部边线 */
            font-size: 15px;
            color: black;
        }

        .bg {
            background-color: #b3d4fc;
            background-image: url("{{ url_for('static', filename='35.jpg') }}");
            background-size: 1800px 300px;
        {# 背景图片大小 宽 高 #}
        }
    </style>

{% endblock %}

{% block newcontent %}
    <body class="bg">
    <div>

        <div id="contanier">
            {% for article in pagination.items %}
                <div class="article">
                    <h4>
                        <a href="{{ url_for('article.article_detail') }}?aid={{ article.id }}"
                           style="color: #721f27">{{ article.title }}</a>
                    </h4>
                    <p>
                        <span>作者: {{ article.user.username }}</span>
                        <br>
                        <br>
                        <span>{{ article.content | cdecode | safe }}</span>
                    </p>
                    <div>
                        <span style="margin-left: 0">发布时间：{{ article.pdatetime }}</span>
                        <span>收藏：{{ article.save_num }}</span>&nbsp;<span>点击量：{{ article.click_num }}</span>&nbsp;<span>点赞量：{{ article.love_num }}</span>
                    </div>
                </div>
            {% endfor %}

            {# 分页展示 #}
            {# class="col-md-offset-3" 表示页数偏移位数 #}
            <nav aria-label="Page navigation" class="col-md-offset-3">
                <ul class="pagination">
                    {# 如果没有上一页，就禁用前进按钮 #}
                    {# class="disabled" 禁用 #}
                    <li {% if not pagination.prev_num %}class="disabled"{% endif %}>
                        {# aria-label="Previous" 前进 #}
                        <a href="{{ url_for('user.index') }}?page={{ pagination.prev_num }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {# active 激活，停留在当前页面就会进行激活 #}
                    {% for page_num in range(1, pagination.pages + 1) %}
                        {# pagination.page 当前页 #}
                        {#  如果选中的当前页和当前页码数相等，就对页面进行激活 #}
                        <li {% if pagination.page == page_num %} class="active" {% endif %}>
                            <a href="{{ url_for('user.index') }}?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}

                    {# 如果没有下一页，就禁用后退按钮 #}
                    {# class="disabled" 禁用 #}
                    <li {% if not pagination.next_num %} class="disabled" {% endif %}>
                        {# aria-label="Next" 后退 #}
                        <a href="{{ url_for('user.index') }}?page={{ pagination.next_num }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>
    </body>
{% endblock %}
